# Copy this file to .env and update values

# TODO(developer): Set to client ID from the Developer Console
# Get your CLIENT_ID from https://console.developers.google.com/
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id_here

# TODO(developer): Set the Google Sheet ID
VITE_GOOGLE_SHEET_ID=your_google_sheet_id
