# Copy this file to .env and update values

# TODO(developer): Set to client ID from the Developer Console
# Get your CLIENT_ID from https://console.developers.google.com/
VITE_GOOGLE_CLIENT_ID=your_google_oauth_client_id_here

# TODO(developer): Set the Apps Script deployment ID to api.gs
VITE_GOOGLE_APPS_SCRIPT_ID=your_google_app_script_id
